<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../public/css/StyleJasaHukumKami.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <title>Draf dan Analisa Perjanjianm</title>
    <style>
        /* Include the CSS code here */
    </style>
</head>
<body>
    <div class="container">
        <!-- header -->
        <header>
            <div class="container">
                <div class="logo">
                    <a href="../Landing Page/landingpage.html">
                    <img src="../../public/images/LOGORK.png" alt="Logo Rantai Khatulistiwa">
                </a>
                </div>
                <nav>
                                    <ul>
                    <li><a href="../Landing Page/landingpage.html">Beranda</a></li>
                    <li><a href="../Bidang/bidang.html">Bidang</a></li>
                    <li><a href="../Legalitas/KumpulanProfil.html">Legalitas</a></li>
                    <li><a href="../administrator/Administrator.html">Administrator</a></li>
                    <li><a href="../galeri/Galeri.html">Galeri</a></li>
                    <li><a href="../properti/landingproperty.html">Properti</a></li>
                    <li><a href="../Hubungi kami/HubungiKami.html">Hubungi Kami</a></li>
                </ul>
                </nav>
            </div>
        </header>
        
        <!-- Hero Section -->
        <section id="hero">
            <div class="hero-content">
                <p>Jasa Hukum Kami</p>
            </div>
        </section>

        <center>
        <!-- Main Section -->
        <div class="main-section">
            <div class="content">
                <!-- <aside class="sidebar">
                    <h2>Jasa Hukum Kami</h2>
                    <ul>
                        <li><a href="../Jasa Hukum Kami(layanan kami)/Jasa Hukum Kami.html"><i class="fas fa-gavel"></i> Jasa Hukum Kami</a></li>
                        <li><a href="../Jasa Hukum Kami(layanan kami)/Litigasi.html"><i class="fas fa-balance-scale"></i> Litigasi</a></li>
                        <li><a href="../Jasa Hukum Kami(layanan kami)/Non Litigasi.html"><i class="fas fa-file-alt"></i> Non litigasi</a></li>
                        <li><a href="../Jasa Hukum Kami(layanan kami)/Arbitase.html"><i class="fas fa-handshake"></i> Arbitase</a></li>
                        <li><a href="../Jasa Hukum Kami(layanan kami)/Layanan Konsultasi Hukum.html"><i class="fas fa-phone-alt"></i> Layanan Konsultasi Hukum</a></li>
                        <li><a href="../Jasa Hukum Kami(layanan kami)/Pendampingan Hukum.html"><i class="fas fa-user-shield"></i> Pendampingan hukum</a></li>
                        <li><a href="../Jasa Hukum Kami(layanan kami)/Layanan Pendapat Hukum.html"><i class="fas fa-comments"></i> Layanan Pendapat Hukum</a></li>
                        <li><a href="../Jasa Hukum Kami(layanan kami)/Draf dan Analisa Perjanjian.html"><i class="fas fa-file-signature"></i> Draf dan Analisa Perjanjian</a></li>
                        <li><a href="../Jasa Hukum Kami(layanan kami)/Mewakili di Pengadilan.html"><i class="fas fa-gavel"></i> Mewakili di Pengadilan</a></li>
                        <li><a href="../Jasa Hukum Kami(layanan kami)/Penanganan Kasus Hukum.html"><i class="fas fa-briefcase"></i> Penanganan Kasus Hukum</a></li>
                        <li><a href="../Jasa Hukum Kami(layanan kami)/Legalitas dokumen.html"><i class="fas fa-file-contract"></i> Legalitas Dokumen</a></li>
                    </ul>
                </aside> -->
                
                <article class="main-content">
                    <p> 
                        Firma Hukum Rantai Khatulistiwa menawarkan berbagai layanan jasa hukum yang mencakup banyak aspek penting dalam kehidupan pribadi dan bisnis. Dengan dedikasi penuh untuk memberikan solusi hukum yang efektif, tim kami yang berpengalaman siap membantu klien dalam menangani berbagai masalah hukum, baik di bidang pidana, perdata, maupun administrasi. Kami memahami betapa kompleksnya dunia hukum, dan karena itu kami berkomitmen untuk memberikan layanan yang menyeluruh, mulai dari konsultasi hukum, representasi di pengadilan, hingga penyusunan dokumen hukum yang vital.
                    </p>

                    <p>Dalam bidang hukum pidana, kami memiliki keahlian dalam menangani kasus-kasus yang berkaitan dengan pelanggaran hukum, baik untuk membela hak-hak klien kami maupun untuk menuntut pelanggaran yang terjadi. Di bidang hukum perdata, kami menawarkan layanan dalam penyusunan kontrak, penyelesaian sengketa, serta perlindungan terhadap hak-hak pribadi dan kekayaan intelektual. Selain itu, kami juga membantu dalam urusan bisnis dan perusahaan, termasuk dalam penyusunan perjanjian, perizinan, serta penyelesaian konflik internal dan eksternal.</p>

                    <p>Tim kami bekerja dengan pendekatan yang proaktif dan berorientasi pada solusi, memastikan bahwa setiap klien mendapatkan perhatian yang dipersonalisasi sesuai dengan kebutuhan mereka. Dengan pengetahuan mendalam tentang hukum Indonesia dan pengalaman luas dalam menangani berbagai kasus, kami berdedikasi untuk melindungi kepentingan klien kami dengan cara yang paling efektif dan efisien. Kami selalu siap mendampingi klien dalam setiap langkah, baik dalam penyelesaian masalah hukum yang sedang dihadapi maupun dalam perencanaan strategis untuk menghindari potensi masalah di masa depan.</p>
                </article>
            </div>
        </div>
        </center>
        <!-- section -->
        <!-- <section id="services-icons">
            <div class="container-icons">
                <div class="icon-box">
                    <img src="../../public/images/icon1.png" alt="Icon 1">
                    <p>Service 1</p>
                </div>
                <div class="icon-box">
                    <img src="../../public/images/icon2.png" alt="Icon 2">
                    <p>Service 2</p>
                </div>
                <div class="icon-box">
                    <img src="../../public/images/icon3.png" alt="Icon 3">
                    <p>Service 3</p>
                </div>
                <div class="icon-box">
                    <img src="../../public/images/icon4.png" alt="Icon 4">
                    <p>Service 4</p>
                </div>
                <div class="icon-box">
                    <img src="../../public/images/icon5.png" alt="Icon 5">
                    <p>Service 5</p>
                </div>
                <div class="icon-box">
                    <img src="../../public/images/icon6.png" alt="Icon 6">
                    <p>Service 6</p>
                </div>
                <div class="icon-box">
                    <img src="../../public/images/icon7.png" alt="Icon 7">
                    <p>Service 7</p>
                </div>
                <div class="icon-box">
                    <img src="../../public/images/icon8.png" alt="Icon 8">
                    <p>Service 8</p>
                </div>
                <div class="icon-box">
                    <img src="../../public/images/icon9.png" alt="Icon 9">
                    <p>Service 9</p>
                </div>
                <div class="icon-box">
                    <img src="../../public/images/icon10.png" alt="Icon 10">
                    <p>Service 10</p>
                </div>
            </div>
        </section> -->
        <div class="containerBOX">
            <div class="card">
                <img src="../../public/images/draf analisa.png" alt="Icon 1" class="card-icon">
                <h4>Draf dan Analisa Perjanjian</h4>
                <div class="line"></div>
                <a href="../Jasa Hukum Kami(layanan kami)/Draf dan Analisa Perjanjian.html" class="btn">Selengkapnya</a>
            </div>
            <div class="card">
                <img src="../../public/images/mewakili.png" alt="Icon 3" class="card-icon">
                <h5>Mewakili di Pengadilan</h5>
                <div class="line"></div>
                <a href="../Jasa Hukum Kami(layanan kami)/Mewakili di Pengadilan.html" class="btn">Selengkapnya</a>
            </div>
            <div class="card">
                <img src="../../public/images/melayani.png" alt="Icon 4" class="card-icon">
                <h4>Penanganan Kasus Hukum</h4>
                <div class="line"></div>
                <a href="../Jasa Hukum Kami(layanan kami)/Penanganan Kasus Hukum.html" class="btn">Selengkapnya</a>
            </div>
            <div class="card">
                <img src="../../public/images/hukum.png" alt="Icon 5" class="card-icon">
                <h4>Pendampingan Hukum</h4>
                <div class="line"></div>
                <a href="../Jasa Hukum Kami(layanan kami)/Pendampingan Hukum.html" class="btn">Selengkapnya</a>
            </div>
        </div>
        




        <!-- Footer -->
 <!-- footer -->

 <footer>
    <div class="footer-section">
        <img src="../../public/images/LOGO 2.png" alt="Logo 1" class="logo">
    </div>
    <div class="footer-section alamat"> <!-- Added class "alamat" -->
        <h2>Alamat</h2>
        <p>Rantai Khatulistiwa Jl. Raden Saleh Raya No.9-B, RT.2/RW.3, Cikini, Kec. Menteng, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10430</p>
       
    </div>
    <div class="footer-section tautan"> <!-- Added class "tautan" -->
        <h2>Tautan</h2>
        <p><a href="../Landing Page/landingpage.html">Beranda</a></p>
        <p><a href="../tentang kami/Tentang kami.html">Tentang Kami</a></p>
        <p><a href="../Jasa Hukum Kami(layanan kami)/Draf dan Analisa Perjanjian.html">Pelayanan</a></p>
        <p><a href="../Hubungi kami/HubungiKami.html">Hubungi Kami</a></p>
    </div>
    <div class="footer-section hubungi-kami"> <!-- Added class "hubungi-kami" -->
        <h2>Hubungi Kami</h2>
        <p><img src="../../public/images/email.png" alt="Email" class="hubungi-kami-icon">Email: <a href="mailto:rantaikhatulistiwa@gmail.com">rantaikhatulistiwa@gmail.com</a></p>
         <!-- Underline under email -->
        <p>
            <img src="../../public/images/telephone-handle-silhouette.png" alt="Phone" class="hubungi-kami-icon">
            Phone: <a href="https://wa.me/6281218028526" target="_blank" style="text-decoration: none; color: inherit;">(+62)812-1802-8526</a>
        </p>
        <div class="footer-underline-short"></div>
        <h2>Media Sosial</h2>
        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=61563330248589" target="_blank">
                <img src="../../public/images/facebook.png" alt="facebook" class="social-icon">
            </a>        
            <a href="https://www.instagram.com/lawfirm.rk?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                <img src="../../public/images/instagram.png" alt="instagram" class="social-icon">
            </a>  
            <a href="https://www.linkedin.com/in/firma-rantai-khatulistiwa-5a58892a7" target="_blank">
                <img src="../../public/images/linkedin.png" alt="LinkedIn" class="social-icon">
            </a>
        </div>
    </div>
    <div class="footer-underline"></div> <!-- Underline across the entire footer -->
    <div class="logos">
        <img src="../../public/images/Peradi.png" alt="Logo 3" class="peradi"> <!-- Added class "peradi" -->
        <img src="../../public/images/LOGO-DPP-FERARI-FIX-removebg-preview.png" alt="Logo 4">
        <img src="../../public/images/Logo-KAI-PNG-White.png" alt="Logo 5">
    </div>
 </footer>
<script src="../../public/js/jasahukum.js"></script>
</body>
</html>
