<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firma Hukum Rantai Khatulistiwa</title>
    <link rel="stylesheet" href="../../public/css/artikel.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="../Landing Page/landingpage.html">
                <img src="../../public/images/LOGORK.png" alt="Logo Rantai Khatulistiwa">
            </a>
            </div>
            <nav>
                                <ul>
                    <li><a href="../Landing Page/landingpage.html">Beranda</a></li>
                    <li><a href="../Bidang/bidang.html">Bidang</a></li>
                    <li><a href="../Legalitas/KumpulanProfil.html">Legalitas</a></li>
                    <li><a href="../administrator/Administrator.html">Administrator</a></li>
                    <li><a href="../galeri/Galeri.html">Galeri</a></li>
                    <li><a href="../properti/landingproperty.html">Properti</a></li>
                    <li><a href="../Hubungi kami/HubungiKami.html">Hubungi Kami</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="hero">
                <div class="backgroundStyle" style="background-image: url('../../public/images/Jakarta.jpg');"></div>
            </div>
        <div class="hero-content">
            <h1>Artikel</h1>
        </div>
    </section>

    <section class="articles">
        <!-- <h2>Artikel</h2> -->
        <div class="article-list">
            <div class="article-card">
                <img src="../../public/images/image.jpeg" alt="Hymn to the United Nations">
                <div class="article-details">
                    <div class="article-meta">
                        <span class="date">24 Oct,2021</span>
                      
                    </div>
                    <h3>Hymn to the United Nations</h3>
                    <p>Get inspired by this revived W.H. Auden's Hymn to the United Nations. "Let music for peace Be the paradigm, For peace means to change At the right time...</p>
                    <a href="../Artikel/isiartikel.html" class="read-more-btn">Read More</a>
                </div>
            </div>

            <div class="article-card">
                <img src="../../public/images/image.jpeg" alt="How it Started?">
                <div class="article-details">
                    <div class="article-meta">
                        <span class="date">24 Oct,2021</span>
                      
                    </div>
                    <h3>How it Started?</h3>
                    <p>In 1945, representatives of 50 countries met in San Francisco at the United Nations Conference on International Organization to draw up the United Nations Charter...</p>
                    <a href="../Artikel/isiartikel.html" class="read-more-btn">Read More</a>
                </div>
            </div>

            <div class="article-card">
                <img src="../../public/images/image.jpeg" alt="How it Started?">
                <div class="article-details">
                    <div class="article-meta">
                        <span class="date">24 Oct,2021</span>
                    </div>
                    <h3>How it Started?</h3>
                    <p>In 1945, representatives of 50 countries met in San Francisco at the United Nations Conference on International Organization to draw up the United Nations Charter...</p>
                    <a href="../Artikel/isiartikel.html" class="read-more-btn">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-section">
            <img src="../../public/images/LOGO 2.png" alt="Logo 1" class="logo">
        </div>
        <div class="footer-section alamat"> <!-- Added class "alamat" -->
            <h2>Alamat</h2>
            <p>Rantai Khatulistiwa Jl. Raden Saleh Raya No.9-B, RT.2/RW.3, Cikini, Kec. Menteng, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10430</p>
           
        </div>
        <div class="footer-section tautan"> <!-- Added class "tautan" -->
            <h2>Tautan</h2>
            <p><a href="../Landing Page/landingpage.html">Beranda</a></p>
            <p><a href="../tentang kami/Tentang kami.html">Tentang Kami</a></p>
            <p><a href="../Jasa Hukum Kami(layanan kami)/Draf dan Analisa Perjanjian.html">Pelayanan</a></p>
            <p><a href="../Hubungi kami/HubungiKami.html">Hubungi Kami</a></p>
        </div>
        <div class="footer-section hubungi-kami"> <!-- Added class "hubungi-kami" -->
            <h2>Hubungi Kami</h2>
            <p><img src="../../public/images/email.png" alt="Email" class="hubungi-kami-icon">Email: <a href="mailto:rantaikhatulistiwa@gmail.com">rantaikhatulistiwa@gmail.com</a></p>
             <!-- Underline under email -->
            <p>
            <img src="../../public/images/telephone-handle-silhouette.png" alt="Phone" class="hubungi-kami-icon">
            Phone: <a href="https://wa.me/6281218028526" target="_blank" style="text-decoration: none; color: inherit;">(+62)812-1802-8526</a>
        </p>
            <div class="footer-underline-short"></div>
            <h2>Media Sosial</h2>
            <div class="social-media">
                <a href="https://www.facebook.com/profile.php?id=61563330248589" target="_blank">
                <img src="../../public/images/facebook.png" alt="facebook" class="social-icon">
            </a>        
            <a href="https://www.instagram.com/lawfirm.rk?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                <img src="../../public/images/instagram.png" alt="instagram" class="social-icon">
            </a>  
            <a href="https://www.linkedin.com/in/firma-rantai-khatulistiwa-5a58892a7" target="_blank">
                <img src="../../public/images/linkedin.png" alt="LinkedIn" class="social-icon">
            </a>
            </div>
        </div>
        <div class="footer-underline"></div> <!-- Underline across the entire footer -->
        <div class="logos">
            <img src="../../public/images/Peradi.png" alt="Logo 3" class="peradi"> <!-- Added class "peradi" -->
            <img src="../../public/images/LOGO-DPP-FERARI-FIX-removebg-preview.png" alt="Logo 4">
            <img src="../../public/images/Logo-KAI-PNG-White.png" alt="Logo 5">
        </div>
     </footer>

    <script src="../../public/js/landingpage.js"></script>
</body>
</html>
</body>
</html>
