<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firma Hukum Rantai Khatulistiwa</title>
    <link rel="stylesheet" href="../../public/css/isiartikel.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="../Landing Page/landingpage.html">
                <img src="../../public/images/LOGORK.png" alt="Logo Rantai Khatulistiwa">
            </a>
            </div>
            <nav>
                                <ul>
                    <li><a href="../Landing Page/landingpage.html">Beranda</a></li>
                    <li><a href="../Bidang/bidang.html">Bidang</a></li>
                    <li><a href="../Legalitas/KumpulanProfil.html">Legalitas</a></li>
                    <li><a href="../administrator/Administrator.html">Administrator</a></li>
                    <li><a href="../galeri/Galeri.html">Galeri</a></li>
                    <li><a href="../properti/landingproperty.html">Properti</a></li>
                    <li><a href="../Hubungi kami/HubungiKami.html">Hubungi Kami</a></li>
                </ul>
            </nav>
        </div>
    </header>
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-container">
        <h1>4 Syarat Sah Perjanjian yang Wajib Anda Ketahui
</h1>
    </div>
</section>

<!-- Main Content Section -->
<section class="main-content">
    <div class="content">
        <div class="article-body">
            <!-- <p><strong>12 hours ago</strong> by Carolina Cassey | <strong>4 min read</strong></p> -->
            <p>Crowds watched solemnly as the body of Rep. John Lewis crossed the Edmund Pettus Bridge one final time, 55 years after the civil rights icon marched for peace and was met with brutality in Selma, Alabama.</p>
            <p>Body bearers from the U.S. armed forces placed the late Georgia congressman and civil rights icon onto a horse-drawn caisson Sunday at the Brown Chapel African Methodist Episcopal Church. From there, the public were allowed to line up to honor Lewis for about a half-mile to the foot of the bridge.</p>
            <p>Rep. Terri Sewell, D-Ala thanked Lewis’ family during a ceremony at the chapel for sharing the congressman with the public for so many years.</p>
            <p>"Our nation is better off because of John Robert Lewis," she remarked. "My life is better, Selma is better, this nation and this world is better because of John Robert Lewis."</p>
            <h2>Solemn crowds watch as Lewis, who died earlier this month at the age of 80, is borne by caisson over Edmund Pettus Bridge</h2>
            <p>Crowds waited for Lewis' body at the foot of the bridge, where he was met by Alabama state troopers, who safely escorted him across and on to the state capitol.</p>
            <p>"His final march, that final crossing, so different than the first, speaks to the legacy that he leaves behind and the lives that he changed," Sewell said. "It's poetic justice that this time, Alabama state troopers will see John to his safety."</p>
            <p>As the horse-drawn caisson approached the bridge, those in the masses on the sidewalk could be heard singing for Lewis. In an emotional moment, the voices stopped as Lewis' caisson began to make its way across the bridge in silent reverence.</p>
            <p>Lewis, who died earlier this month at the age of 80, made his last journey across the Edmund Pettus Bridge with his family to join him.</p>
            <p>Lewis' son, brothers and sister followed behind the caisson along Lewis' longtime chief of staff wearing shirts emblazoned with the words "Good Trouble," a nod to Lewis' view on activism.</p>
        </div>
        <!-- <div class="related-articles">
            <h3>Artikel Lainnya</h3>
            <a href="link-to-article-1.html" class="article-card">
                <img src="../../public/images/image.jpeg" alt="Related Article 1">
                <p>Millions rely on emergency pandemic benefits for rent, food, and medicine. Now, that lifeline could disappear.</p>
            </a>
            <a href="link-to-article-2.html" class="article-card">
                <img src="../../public/images/image.jpeg" alt="Related Article 2">
                <p>The ADA is turning 30. It's time that it included digital accessibility.</p>
            </a>
        </div>         -->
    </div>
</section>

<!-- Article Gallery Section -->
<section class="article-gallery">
    <h3>Artikel lainnya</h3>
    <div class="gallery">
        <a href="../Artikel/isiartikel.html" class="gallery-item">
            <img src="../../public/images/image.jpeg" alt="Article 1">
            <p>India & Its Magnetic Charm For Foreign Investments</p>
        </a>
        <a href="../Artikel/isiartikel.html" class="gallery-item">
            <img src="../../public/images/image.jpeg" alt="Article 2">
            <p>Hill Republicans begin jockeying for power in a possible post-Trump world</p>
        </a>
        <a href="../Artikel/isiartikel.html" class="gallery-item">
            <img src="../../public/images/image.jpeg" alt="Article 3">
            <p>Twitter 'walkout' planned after rapper's anti-Semitic tirade</p>
        </a>
        <a href="../Artikel/isiartikel.html" class="gallery-item">
            <img src="../../public/images/image.jpeg" alt="Article 4">
            <p>Fleetwood Mac co-founder Peter Green dies at 73</p>
        </a>
        <a href="../Artikel/isiartikel.html" class="gallery-item">
            <img src="../../public/images/image.jpeg" alt="Article 5">
            <p>The ADA is turning 30. It's time that it included digital accessibility.</p>
        </a>
    </div>
</section>


<footer>
    <div class="footer-section">
        <img src="../../public/images/LOGO 2.png" alt="Logo 1" class="logo">
    </div>
    <div class="footer-section alamat"> <!-- Added class "alamat" -->
        <h2>Alamat</h2>
        <p>Rantai Khatulistiwa Jl. Raden Saleh Raya No.9-B, RT.2/RW.3, Cikini, Kec. Menteng, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10430</p>
       
    </div>
    <div class="footer-section tautan"> <!-- Added class "tautan" -->
        <h2>Tautan</h2>
        <p><a href="../Landing Page/landingpage.html">Beranda</a></p>
        <p><a href="../tentang kami/Tentang kami.html">Tentang Kami</a></p>
        <p><a href="../Jasa Hukum Kami(layanan kami)/Draf dan Analisa Perjanjian.html">Pelayanan</a></p>
        <p><a href="../Hubungi kami/HubungiKami.html">Hubungi Kami</a></p>
    </div>
    <div class="footer-section hubungi-kami"> <!-- Added class "hubungi-kami" -->
        <h2>Hubungi Kami</h2>
        <p><img src="../../public/images/email.png" alt="Email" class="hubungi-kami-icon">Email: <a href="mailto:rantaikhatulistiwa@gmail.com">rantaikhatulistiwa@gmail.com</a></p>
         <!-- Underline under email -->
        <p>
            <img src="../../public/images/telephone-handle-silhouette.png" alt="Phone" class="hubungi-kami-icon">
            Phone: <a href="https://wa.me/6281218028526" target="_blank" style="text-decoration: none; color: inherit;">(+62)812-1802-8526</a>
        </p>
        <div class="footer-underline-short"></div>
        <h2>Media Sosial</h2>
        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=61563330248589" target="_blank">
                <img src="../../public/images/facebook.png" alt="facebook" class="social-icon">
            </a>        
            <a href="https://www.instagram.com/lawfirm.rk?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                <img src="../../public/images/instagram.png" alt="instagram" class="social-icon">
            </a>  
            <a href="https://www.linkedin.com/in/firma-rantai-khatulistiwa-5a58892a7" target="_blank">
                <img src="../../public/images/linkedin.png" alt="LinkedIn" class="social-icon">
            </a>
        </div>
    </div>
    <div class="footer-underline"></div> <!-- Underline across the entire footer -->
    <div class="logos">
        <img src="../../public/images/Peradi.png" alt="Logo 3" class="peradi"> <!-- Added class "peradi" -->
        <img src="../../public/images/LOGO-DPP-FERARI-FIX-removebg-preview.png" alt="Logo 4">
        <img src="../../public/images/Logo-KAI-PNG-White.png" alt="Logo 5">
    </div>
 </footer>

<script src="../../public/js/landingpage.js"></script>
</body>
</html>
</body>
</html>
