<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bidang</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/bidang.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="../Landing Page/landingpage.html">
                <img src="../../public/images/LOGORK.png" alt="Logo Rantai Khatulistiwa">
            </a>
            </div>
            <nav>
            <ul>
                <li><a href="../Landing Page/landingpage.html">Beranda</a></li>
                <li><a href="../Bidang/bidang.html">Bidang</a></li>
                <li><a href="../Legalitas/KumpulanProfil.html">Legalitas</a></li>
                <li><a href="../administrator/Administrator.html">Administrator</a></li>
                <li><a href="../galeri/Galeri.html">Galeri</a></li>
                <li><a href="../properti/landingproperty.html">Properti</a></li>
                <li><a href="../Hubungi kami/HubungiKami.html">Hubungi Kami</a></li>
            </ul>
            </nav>
        </div>
    </header>
    <section class="hero">
        <div class="hero-content">
            <h1>Bidang Praktek Hukum</h1>
            <p>Bidang Praktek Hukum dari firma hukum Rantai Khatulistiwa mencakup berbagai aspek hukum yang penting untuk memenuhi kebutuhan klien individu dan korporasi.</p>
        </div>
    </section>
    <div class="containerBOX">
        <div class="card">
            <h3>Kasus Pidana Umum</h3>
            <p>Penanganan kasus-kasus pidana umum seperti  penipuan, kekerasan seksual, perzinahan dan perlindungan anak </p>
            <div class="line"></div>
             <a href="../Bidang/kasus pidana hukum.html" class="btn">
                Selengkapnya
            </a>
        </div>
        <div class="card">
            <h3>Pidana Khusus</h3>
            <p>Penanganan kasus-kasus pidana khusus seperti tindak pidana ekonomi, dan narkotika.</p>
            <div class="line"></div>
             <a href="../Bidang/pidana khusus.html" class="btn">
                Selengkapnya
            </a>
        </div>
        <div class="card">
            <h4>Perdata & Tata Usaha Negara</h4>
            <p>Menangani sengketa perdata dan masalah hukum tata usaha negara, termasuk peradilan administrasi.</p>
            <div class="line"></div>
             <a href="../Bidang/Perdata & Tata Usaha Negara.html" class="btn">
                Selengkapnya
            </a>
        </div>
        <div class="card">
            <h3>Pertanahan & Properti</h3>
            <p>Layanan hukum terkait kepemilikan tanah, sengketa properti, dan transaksi jual-beli properti.</p>
            <div class="line"></div>
             <a href="../Bidang/Pertanahan dan Properti.html" class="btn">
                Selengkapnya
            </a>
        </div>
        <div class="card">
            <h3>Keluarga & Harta Benda</h3>
            <p>Penanganan masalah hukum keluarga dan warisan, termasuk perceraian dan pembagian harta gono-gini.</p>
            <div class="line"></div>
             <a href="../Bidang/Keluarga dan Harta Benda.html" class="btn">
                Selengkapnya
            </a>
        </div>
        <div class="card">
            <h3>Bisnis & Perbankan</h3>
            <p>Layanan hukum untuk perusahaan terkait dengan kegiatan bisnis dan masalah perbankan.</p>
            <div class="line"></div>
             <a href="../Bidang/Bisnis & Perbankan.html" class="btn">
                Selengkapnya
            </a>
        </div>
        <div class="card">
            <h4>Badan Usaha & Badan Hukum</h4>
            <p>Penanganan permasalahan terkait pengurusan regulasi dan administrasi pendirian badan usaha atau badan hukum lainnya.</p>
            <div class="line"></div>
             <a href="../Bidang/Badan Usaha & Badan Hukum.html" class="btn">
                Selengkapnya
            </a>
        </div>
        <div class="card">
            <h3>Kesehatan</h3>
            <p>Layanan hukum terkait industri medis dan sengketa kesehatan.</p>
            <div class="line"></div>
             <a href="../Bidang/Kesehatan.html" class="btn">
                Selengkapnya
            </a>
        </div>
        <div class="card">
            <h5>Pertambangan, Minyak, Gas & Lingkungan Hidup</h5>
            <p>Layanan hukum yang meliputi pertambangan, energi dan sumber daya mineral, serta masalah lingkungan hidup.</p>
            <div class="line"></div>
             <a href="../Bidang/Pertambangan, Minyak, Gas & Lingkungan Hidup.html" class="btn">
                Selengkapnya
            </a>
        </div>
        <div class="card">
            <h5>Hak Asasi Manusia, Kewarganegaraan & Tenaga Kerja</h5>
            <p>Layanan hukum terkait hak asasi manusia, kewarganegaraan, dan masalah ketenagakerjaan.</p>
            <div class="line"></div>
             <a href="../Bidang/Hak Asasi Manusia, Keimigrasian & Tenaga Kerja.html" class="btn">
                Selengkapnya
            </a>
        </div>
        <div class="card">
            <h3>Perpajakan</h3>
            <p>Konsultasi dan penanganan sengketa perpajakan.</p>
            <div class="line"></div>
             <a href="../Bidang/Perpajakan.html" class="btn">
                Selengkapnya
            </a>
        </div>
        <div class="card">
            <h3>Kepailitan & Lelang</h3>
            <p>Layanan hukum terkait proses kepailitan dan lelang.</p>
            <div class="line"></div>
             <a href="../Bidang/Kepailitan & Lelang.html" class="btn">
                Selengkapnya
            </a>
        </div>
        <div class="card">
            <h5>Hak Cipta, Hak Kekayaan Intelektual & Administratif Hukum</h5>
            <p>Pengurusan hak cipta, hak kekayaan intelektual, dan penyelesaian sengketa administratif hukum.</p>
            <div class="line"></div>
             <a href="../Bidang/Hak Cipta, Hak Kekayaan Intelektual & Administrasi Hukum.html" class="btn">
                Selengkapnya
            </a>
        </div>
        <div class="card">
            <h3>Tata Negara & Pemilu</h3>
            <p>Layanan hukum terkait masalah konstitusional dan pemilu.</p>
            <div class="line"></div>
             <a href="../Bidang/Tata Negara & Pemilu.html" class="btn">
                Selengkapnya
            </a>
        </div>
    </div>

    <!-- footer -->

    <footer>
        <div class="footer-section">
            <img src="../../public/images/LOGO 2.png" alt="Logo 1" class="logo">
        </div>
        <div class="footer-section alamat"> <!-- Added class "alamat" -->
            <h2>Alamat</h2>
            <p>Rantai Khatulistiwa Jl. Raden Saleh Raya No.9-B, RT.2/RW.3, Cikini, Kec. Menteng, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10430</p>
           
        </div>
        <div class="footer-section tautan"> <!-- Added class "tautan" -->
            <h2>Tautan</h2>
            <p><a href="../Landing Page/landingpage.html">Beranda</a></p>
            <p><a href="../tentang kami/Tentang kami.html">Tentang Kami</a></p>
            <p><a href="../Jasa Hukum Kami(layanan kami)/Draf dan Analisa Perjanjian.html">Pelayanan</a></p>
            <p><a href="../Hubungi kami/HubungiKami.html">Hubungi Kami</a></p>
        </div>
        <div class="footer-section hubungi-kami"> <!-- Added class "hubungi-kami" -->
            <h2>Hubungi Kami</h2>
            <p><img src="../../public/images/email.png" alt="Email" class="hubungi-kami-icon">Email: <a href="mailto:rantaikhatulistiwa@gmail.com">rantaikhatulistiwa@gmail.com</a></p>
             <!-- Underline under email -->
            <p>
            <img src="../../public/images/telephone-handle-silhouette.png" alt="Phone" class="hubungi-kami-icon">
            Phone: <a href="https://wa.me/6281218028526" target="_blank" style="text-decoration: none; color: inherit;">(+62)812-1802-8526</a>
        </p>
            <div class="footer-underline-short"></div>
            <h2>Media Sosial</h2>
            <div class="social-media">
                <a href="https://www.facebook.com/profile.php?id=61563330248589" target="_blank">
                <img src="../../public/images/facebook.png" alt="facebook" class="social-icon">
            </a>        
            <a href="https://www.instagram.com/lawfirm.rk?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                <img src="../../public/images/instagram.png" alt="instagram" class="social-icon">
            </a>  
            <a href="https://www.linkedin.com/in/firma-rantai-khatulistiwa-5a58892a7" target="_blank">
                <img src="../../public/images/linkedin.png" alt="LinkedIn" class="social-icon">
            </a>
            </div>
        </div>
        <div class="footer-underline"></div> <!-- Underline across the entire footer -->
        <div class="logos">
            <img src="../../public/images/Peradi.png" alt="Logo 3" class="peradi"> <!-- Added class "peradi" -->
            <img src="../../public/images/LOGO-DPP-FERARI-FIX-removebg-preview.png" alt="Logo 4">
            <img src="../../public/images/Logo-KAI-PNG-White.png" alt="Logo 5">
        </div>
     </footer>
    <script src="../../public/js/Bidang.js"></script>
</body>
</html>