<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firma Hukum Rantai Khatulistiwa</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="../../public/css/landingpage.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="landingpage.html">
                <img src="../../public/images/LOGORK.png" alt="Logo Rantai Khatulistiwa">
            </a>
            </div>
            <nav>
                <ul>
                    <li><a href="../Landing Page/landingpage.html">Beranda</a></li>
                    <li><a href="../Bidang/bidang.html">Bidang</a></li>
                    <li><a href="../Legalitas/KumpulanProfil.html">Legalitas</a></li>
                    <li><a href="../administrator/Administrator.html">Administrator</a></li>
                    <li><a href="../galeri/Galeri.html">Galeri</a></li>
                    <li><a href="../properti/landingproperty.html">Properti</a></li>
                    <li><a href="../Hubungi kami/HubungiKami.html">Hubungi Kami</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="hero">
        <div class="slider">
            <div class="slides">    
                <div class="slide active" style="background-image: url('../../public/images/FlyerLukisan.png');"></div>
                <div class="slide" style="background-image: url('../../public/images/flyerpexels.png');"></div>
                <div class="slide" style="background-image: url('../../public/images/flyerRKbaru.jpg');"></div>
            </div>
            <div class="navigation">
                <button class="nav-btnhero" data-index="0"></button>
                <button class="nav-btnhero" data-index="1"></button>
                <button class="nav-btnhero" data-index="2"></button>
            </div>
        </div>
        <div class="hero-content">
            <h1>Rantai Khatulistiwa</h1>
            <p>Layanan hukum profesional dan terpercaya. Kami ahli dalam berbagai bidang hukum, termasuk pidana, perdata, dan bisnis. Dedikasi kami adalah untuk melindungi hak dan kepentingan Anda.</p>
        </div>
    </section>
    <section id="Allah"> 
        <p>"In The Name Of Allah. The Most Beneficent And The Most Merciful"</p>
    </section>
    

 <!-- Added section -->
 <section id="about-us">
    <div class="about-us section">
        <img src="../../public/images/LOGO 2.png" alt="About Us images" class="about-images">
        <div class="about-text">
            <h2>Tentang Kami</h2>
            <p>Firma Hukum Rantai Khatulistiwa merupakan kantor hukum yang terdiri dari para advokat profesional, berpengalaman dan berkomitmen untuk memberikan jasa hukum yang berkualitas di bidang hukum Pidana Umum, Pidana Khusus, Hukum Perdata dan Tata Usaha Negara (TUN), Pertanahan dan Properti.</p>
            <a href="../tentang kami/Tentang kami.html" class="btn">Cari Tahu</a>
        </div>
    </div>

    <div class="about-us section">
        <div class="about-text">
            <h2>Pencapaian Kami</h2>
            <p>Sebagai firma hukum terkemuka, Rantai Khatulistiwa telah meraih pencapaian berkat kerja keras, kemampuan, dan pelayanan yang baik. Kami telah menangani beberapa kasus hukum baik di bidang hukum Pidana Umum, Pidana Khusus, Hukum Perdata dan Tata Usaha Negara (TUN), Pertanahan dan Properti.</p>
            <a href="../tentang kami/Tentang kami.html" class="btn">Cari Tahu</a>
        </div>
        <img src="../../public/images/handshake.jpg" alt="Our Achievement images" class="about-images">
    </div>
</section>

<section id="about-us">
    <div class="about-us section">
        <img src="../../public/images/handshake.jpg" alt="About Us images" class="about-images">
        <div class="about-text">
            <h2>Jasa Hukum Kami</h2>
            <p>Kami memahami betapa kompleksnya dunia hukum, dan karena itu kami berkomitmen untuk memberikan layanan yang menyeluruh, mulai dari konsultasi hukum, representasi di pengadilan, hingga penyusunan dokumen hukum yang vital.</p>
            <a href="../Jasa Hukum Kami(layanan kami)/Jasa Hukum Kami.html" class="btn">Cari Tahu</a>
        </div>
    </div>
</section>


    <!-- End of added section -->

    <section id="services">
        <h2>Layanan Kami</h2>
        <div class="service-list">
            <div class="service">
                <a href="../Jasa Hukum Kami(layanan kami)/Litigasi.html">
                    <img src="../../public/images/Litigasi.png" alt="Layanan icon">
                    <p>Litigasi</p>
                </a>
            </div>
            <div class="service">
                <a href="../Jasa Hukum Kami(layanan kami)/Non Litigasi.html">
                    <img src="../../public/images/non litigasi.png" alt="Layanan icon">
                    <p>Non Litigasi</p>
                </a>
            </div>
            <div class="service">
                <a href="../Jasa Hukum Kami(layanan kami)/Arbitase.html">
                    <img src="../../public/images/arbitase.png" alt="Layanan icon">
                    <p>Arbitase</p>
                </a>
            </div>
            <div class="service">
                <a href="../Jasa Hukum Kami(layanan kami)/Legalitas dokumen.html">
                    <img src="../../public/images/legalitas dokumentasi.png" alt="Layanan icon">
                    <p>Legalitas Dokumen</p>
                </a>
            </div>
            <div class="service">
                <a href="../Artikel/artikel.html">
                    <img src="../../public/images/article.png" alt="Layanan icon">
                    <p>Artikel</p>
                </a>
            </div>
            <div class="service">
                <a href="../Legal Opinion/LegalOpinion.html">
                    <img src="../../public/images/Legal Opinion.png" alt="Layanan icon">
                    <p>Legal Opinion</p>
                </a>
            </div>
        </div>
        <p class="additional-service-text"></p>
        <a href="../Jasa Hukum Kami(layanan kami)/Jasa Hukum Kami.html">
            <button class="additional-service-button">Layanan Lain</button>
        </a>
    </section>
    
    <!-- <section id="consultation-services">
        <h2>Layanan Konsultasi Hukum</h2>
        <div class="consultation-options">
            <div class="option">
                <img src="../../public/images/sms.png" alt="Chat Icon" class="icon">
                <h3>Konsultasi via Chat</h3>
                <p>Rp25.000 untuk 30 menit</p>
                <ul>
                    <li>Konsultasi tahap awal</li>
                    <li>Advokat dipilihkan oleh sistem</li>
                </ul>
                <button>Pesan Konsultasi</button>
            </div>
            <div class="option">
                <img src="../../public/images/phone-call.png" alt="Phone Icon" class="icon">
                <h3>Konsultasi via Telepon</h3>
                <p>Rp25.000 untuk 30 menit</p>
                <ul>
                    <li>Diskusi lebih mendalam</li>
                    <li>Bebas pilih advokat dan jadwal</li>
                </ul>
                <button>Pesan Konsultasi</button>
            </div>
        </div>
    </section> -->
    <section id="consultation-services">
        <h2>Layanan Konsultasi Hukum</h2>
        <div class="consultation-options">
            <div class="option">
                <div class="icon">
                    <img src="../../public/images/icons8-chat-60.png" alt="Chat Icon">
                </div>
                <h3>Konsultasi via Chat</h3>
                <p>Rp25.000 untuk 30 menit</p>
                <ul>
                    <li>Konsultasi tahap awal</li>
                    <li>Advokat dipilihkan oleh sistem</li>
                </ul>
                <button>Pesan Konsultasi</button>
            </div>
            <div class="option">
                <div class="icon">
                    <img src="../../public/images/icons8-phone-60.png" alt="Phone Icon">
                </div>
                <h3>Konsultasi via Telepon</h3>
                <p>Rp25.000 untuk 30 menit</p>
                <ul>
                    <li>Diskusi lebih mendalam</li>
                    <li>Bebas pilih advokat dan jadwal</li>
                </ul>
                <button>Pesan Konsultasi</button>
            </div>
        </div>
    </section>
    


    <!-- <section id="legal-articles">
        <h2>Artikel Hukum</h2>
        <div class="articles">
            <a href="../Artikel/isiartikel.html" class="article">
                <img src="../../public/images/artikel.jpeg" alt="Article images">
                <p>Begini Syarat, Alasan Perceraian, Hingga Cara Membuat Surat Gugatan Cerai</p>
            </a>
            <a href="../Artikel/isiartikel.html" class="article">
                <img src="../../public/images/artikel.jpeg" alt="Article images">
                <p>Biar Gak Bingung, Ini Langkah Mudah Melaporkan Tindak Pidana ke Polisi</p>
            </a>
            <a href="../Artikel/isiartikel.html" class="article">
                <img src="../../public/images/artikel.jpeg" alt="Article images">
                <p>4 Syarat Sah Perjanjian yang Wajib Anda Ketahui</p>
            </a>
        </div>        
    <a href="../Artikel/artikel.html">
            <button class="additional-service-button">Artikel Lain</button>
    </a>
    </section> -->

    <section id="comments">
        <h2>Diskusi Hukum</h2>
        <div class="comments-container">
            <div class="comments-slider">
                <!-- Komentar 1 -->
                <div class="comment active">
                    <div class="comment-header">
                        <img src="../../public/images/vct.png" alt="User Avatar" class="avatar">
                        <div class="user-info">
                            <h3>Nama Pengguna</h3>
                            <p>20 Agustus 2023</p>
                        </div>
                    </div>
                    <p class="comment-text">Layanan konsultasi hukum ini sangat membantu! Advokatnya sangat profesional dan tanggap.</p>
                    <div class="reply">
                        <div class="comment-header">
                            <img src="../../public/images/vct.png" alt="Admin Avatar" class="avatar">
                            <div class="user-info">
                                <h3>Admin</h3>
                                <p>21 Agustus 2023</p>
                            </div>
                        </div>
                        <p class="comment-text">Terima kasih atas ulasan positifnya! Kami senang bisa membantu Anda.</p>
                    </div>
                </div>
        
                <!-- Komentar 2 -->
                <div class="comment">
                    <div class="comment-header">
                        <img src="../../public/images/vct.png" alt="User Avatar" class="avatar">
                        <div class="user-info">
                            <h3>Nama Pengguna 2</h3>
                            <p>25 Agustus 2023</p>
                        </div>
                    </div>
                    <p class="comment-text">Pelayanan yang sangat responsif dan membantu. Terima kasih!</p>
                    <div class="reply">
                        <div class="comment-header">
                            <img src="../../public/images/vct.png" alt="Admin Avatar" class="avatar">
                            <div class="user-info">
                                <h3>Admin</h3>
                                <p>26 Agustus 2023</p>
                            </div>
                        </div>
                        <p class="comment-text">Kami menghargai umpan balik Anda. Terima kasih!</p>
                    </div>
                </div>

                 <!-- Komentar 3  -->
                <div class="comment">
                    <div class="comment-header">
                        <img src="../../public/images/vct.png" alt="User Avatar" class="avatar">
                        <div class="user-info">
                            <h3>Nama Pengguna 3</h3>
                            <p>25 Agustus 2023</p>
                        </div>
                    </div>
                    <p class="comment-text">Pelayanan yang sangat responsif dan membantu. Terima kasih!</p>
                    <div class="reply">
                        <div class="comment-header">
                            <img src="../../public/images/vct.png" alt="Admin Avatar" class="avatar">
                            <div class="user-info">
                                <h3>Admin</h3>
                                <p>26 Agustus 2023</p>
                            </div>
                        </div>
                        <p class="comment-text">Kami menghargai umpan balik Anda. Terima kasih!</p>
                    </div>
                </div>

                
                
            </div>
            
            <!-- Navigation Buttons -->
            <div class="comment-navigation">
                <button class="nav-btn prev">
                    <span class="arrow-left">&#8249;</span> 
                </button>
                <button class="nav-btn next">
                  <span class="arrow-right">&#8250;</span>
                </button>
            </div>
        </div>
    
        <!-- Form Tambah Komentar -->
        <div class="add-comment">
            <h3>Tambahkan Komentar Anda</h3>
            <form>
                <textarea placeholder="Tuliskan komentar Anda di sini..."></textarea>
                <button type="submit">Kirim Komentar</button>
            </form>
        </div>
    </section>
    
    


    <!-- footer -->

<footer>
    <div class="footer-section">
        <img src="../../public/images/LOGO 2.png" alt="Logo 1" class="logo">
    </div>
    <div class="footer-section alamat"> <!-- Added class "alamat" -->
        <h2>Alamat</h2>
        <p>Rantai Khatulistiwa Jl. Raden Saleh Raya No.9-B, RT.2/RW.3, Cikini, Kec. Menteng, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10430</p>
       
    </div>
    <div class="footer-section tautan"> <!-- Added class "tautan" -->
        <h2>Tautan</h2>
        <p><a href="../Landing Page/landingpage.html">Beranda</a></p>
        <p><a href="../tentang kami/Tentang kami.html">Tentang Kami</a></p>
        <p><a href="../Jasa Hukum Kami(layanan kami)/Draf dan Analisa Perjanjian.html">Pelayanan</a></p>
        <p><a href="../Hubungi kami/HubungiKami.html">Hubungi Kami</a></p>
    </div>
    <div class="footer-section hubungi-kami"> <!-- Added class "hubungi-kami" -->
        <h2>Hubungi Kami</h2>
        <p><img src="../../public/images/email.png" alt="Email" class="hubungi-kami-icon">Email: <a href="mailto:rantaikhatulistiwa@gmail.com">rantaikhatulistiwa@gmail.com</a></p>
         <!-- Underline under email -->
         <p>
            <img src="../../public/images/telephone-handle-silhouette.png" alt="Phone" class="hubungi-kami-icon">
            Phone: <a href="https://wa.me/6281218028526" target="_blank" style="text-decoration: none; color: inherit;">(+62)812-1802-8526</a>
        </p>        
        <div class="footer-underline-short"></div>
        <h2>Media Sosial</h2>
        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=61563330248589" target="_blank">
                <img src="../../public/images/facebook.png" alt="facebook" class="social-icon">
            </a>        
            <a href="https://www.instagram.com/lawfirm.rk?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                <img src="../../public/images/instagram.png" alt="instagram" class="social-icon">
            </a>  
            <a href="https://www.linkedin.com/in/firma-rantai-khatulistiwa-5a58892a7" target="_blank">
                <img src="../../public/images/linkedin.png" alt="LinkedIn" class="social-icon">
            </a>            
        </div>
    </div>
    <div class="footer-underline"></div> <!-- Underline across the entire footer -->
    <div class="logos">
        <img src="../../public/images/Peradi.png" alt="Logo 3" class="peradi"> <!-- Added class "peradi" -->
        <img src="../../public/images/LOGO-DPP-FERARI-FIX-removebg-preview.png" alt="Logo 4">
        <img src="../../public/images/Logo-KAI-PNG-White.png" alt="Logo 5">
    </div>
 </footer>
    <!-- Pop-up HTML -->
    <div id="consultationPopup" class="popup">
       <div class="popup-content">
           <span class="close">&times;</span>
           <h2>Pesan Konsultasi</h2>
           <p>Terima kasih telah memilih layanan kami. Silakan klik tombol di bawah ini untuk melanjutkan pemesanan konsultasi via WhatsApp.</p>
           <button id="submitConsultation">Kirim Permintaan</button>
       </div>
   </div>
    <script src="../../public/js/landingpage.js"></script>
</body>
</html>
