<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Rantai Khatulistiwa - Litigasi, Non Litigasi & Arbitrase</title>
    <link rel="stylesheet" href="../../public/css/styleKumpulanProfil.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="../../public/js/script-Kumpulan-Profil.js" defer></script>
</head>
<body>
    <div class="container">
       <!-- header -->
       <header>
        <div class="container">
            <div class="logo">
                <a href="../Landing Page/landingpage.html">
                <img src="../../public/images/LOGORK.png" alt="Logo Rantai Khatulistiwa">
            </a>
            </div>
            <nav>
                                <ul>
                    <li><a href="../Landing Page/landingpage.html">Beranda</a></li>
                    <li><a href="../Bidang/bidang.html">Bidang</a></li>
                    <li><a href="../Legalitas/KumpulanProfil.html">Legalitas</a></li>
                    <li><a href="../administrator/Administrator.html">Administrator</a></li>
                    <li><a href="../galeri/Galeri.html">Galeri</a></li>
                    <li><a href="../properti/landingproperty.html">Properti</a></li>
                    <li><a href="../Hubungi kami/HubungiKami.html">Hubungi Kami</a></li>
                </ul>
            </nav>
        </div>
    </header>
          <!-- section -->
          <!-- <section id="section">
            <div class="profile-container">
                <a href="#" class="ProfilTeks">Perdata & Tata Usaha Negara</a>
                <a href="#" class="ProfilTeks">Perdata & Tata Usaha Negara</a>
                <a href="#" class="ProfilTeks">Perdata & Tata Usaha Negara</a>
                <a href="#" class="ProfilTeks">Perdata & Tata Usaha Negara</a>
                <a href="#" class="ProfilTeks">Perdata & Tata Usaha Negara</a>
                <a href="#" class="ProfilTeks">Perdata & Tata Usaha Negara</a>
                <a href="#" class="ProfilTeks">Perdata & Tata Usaha Negara</a>
                <a href="#" class="ProfilTeks">Perdata & Tata Usaha Negara</a>
                <a href="#" class="ProfilTeks">Perdata & Tata Usaha Negara</a>
                <a href="#" class="ProfilTeks">Perdata & Tata Usaha Negara</a>
                <a href="#" class="ProfilTeks">Perdata & Tata Usaha Negara</a>
                <a href="#" class="ProfilTeks">Perdata & Tata Usaha Negara</a>
            </div> 
            
        </section> -->
    <section id="section">
        <div class="profile-container">
            <ul>
              
                <p class="titleKiri">Kategori  Bidang Hukum</p><br>
                <!-- <li><a href="#" class="ProfilTeks"><i class="fas fa-balance-scale"></i>Kasus Pidana Umum</a></li>
                <li><a href="#" class="ProfilTeks"><i class="fas fa-balance-scale"></i>Pidana Khusus</a></li>
                <li><a href="#" class="ProfilTeks"><i class="fas fa-balance-scale"></i>Pertanahan & Properti</a></li>
                <li><a href="#" class="ProfilTeks"><i class="fas fa-balance-scale"></i>Keluarga & Harta Benda</a></li>
                <li><a href="#" class="ProfilTeks"><i class="fas fa-balance-scale"></i>Bisnis & Perbankan</a></li>
                <li><a href="#" class="ProfilTeks"><i class="fas fa-balance-scale"></i>Badan Usaha & Badan Hukum</a></li>
                <li><a href="#" class="ProfilTeks"><i class="fas fa-balance-scale"></i>Kesehatan</a></li>
                <li><a href="#" class="ProfilTeks"><i class="fas fa-balance-scale"></i>Pertambangan, Minyak, Gas & Lingkungan Hidup
                </a></li>
                <li><a href="#" class="ProfilTeks"><i class="fas fa-balance-scale"></i>Hak Asasi Manusia, Kewarganegaraan & Tenaga Kerja
                </a></li>
                <li><a href="#" class="ProfilTeks"><i class="fas fa-balance-scale"></i>Perpajakan
                </a></li>
                <li><a href="#" class="ProfilTeks"><i class="fas fa-balance-scale"></i>Kepailitan & Lelang
                </a></li>
                <li><a href="#" class="ProfilTeks"><i class="fas fa-balance-scale"></i>Hak Cipta, Hak Kekayaan Intelektual & Administratif Hukum
                </a></li>
                <li><a href="#" class="ProfilTeks"><i class="fas fa-balance-scale"></i>Tata Negara & Pemilu</a></li> -->

                <!-- kategori -->

                <li><a class="ProfilTeks"><i class="fas fa-balance-scale"></i>Kasus Pidana Umum</a></li>
                <li><a class="ProfilTeks"><i class="fas fa-balance-scale"></i>Pidana Khusus</a></li>
                <li><a class="ProfilTeks"><i class="fas fa-balance-scale"></i>Pertanahan & Properti</a></li>
                <li><a class="ProfilTeks"><i class="fas fa-balance-scale"></i>Keluarga & Harta Benda</a></li>
                <li><a class="ProfilTeks"><i class="fas fa-balance-scale"></i>Bisnis & Perbankan</a></li>
                <li><a class="ProfilTeks"><i class="fas fa-balance-scale"></i>Badan Usaha & Badan Hukum</a></li>
                <li><a class="ProfilTeks"><i class="fas fa-balance-scale"></i>Kesehatan</a></li>
                <li><a class="ProfilTeks"><i class="fas fa-balance-scale"></i>Pertambangan, Minyak, Gas & Lingkungan Hidup</a></li>
                <li><a class="ProfilTeks"><i class="fas fa-balance-scale"></i>Hak Asasi Manusia, Kewarganegaraan & Tenaga Kerja</a></li>
                <li><a class="ProfilTeks"><i class="fas fa-balance-scale"></i>Perpajakan</a></li>
                <li><a class="ProfilTeks"><i class="fas fa-balance-scale"></i>Kepailitan & Lelang</a></li>
                <li><a class="ProfilTeks"><i class="fas fa-balance-scale"></i>Hak Cipta, Hak Kekayaan Intelektual & Administratif Hukum</a></li>
                <li><a class="ProfilTeks"><i class="fas fa-balance-scale"></i>Tata Negara & Pemilu</a></li>

            </ul>
        </div> 
    </section>
    
        
    <main class="main">
        <!-- <div class="ProfilTeks">
            <p>Perdata & Tata Usaha Negara</p>
            <p>Perdata & Tata Usaha Negara</p>
            <p>Perdata & Tata Usaha Negara</p>
             Repeat for the number of times needed 
        </div> -->
        <!-- Add more legal fields here -->
    </div>
                <!--  -->
                <div class="main-title-container">
                    <p class="main-title">Advokat dan Consultan</p>
                </div>              
                <div class="profile-1">
                    <a href="../Legalitas/Profil-pangkas.html" class="profile-link">
                        <div class="profile-card">
                         <!-- <img src="../../public/images/image3.jpg" alt="Avatar" class="avatar"> -->
                          <h3>Prof. Dr. Hj. Siti Nur Azizah, S.H.,M.Hum.</h3>
                          <h2>Magister Hukum dari Universitas Surabaya Lebih dari 8 tahun</h2>
                          <p>Pidana Khusus Kejahatan Seksualisasi</p>
                        </div>
                      </a>
                      <a href="../Legalitas/Profil-pangkas2.html" class="profile-link">
                        <div class="profile-card">
                            <!-- <img src="../../public/images/image3.jpg" alt="Avatar" class="avatar"> --> 
                            <h3>Dr. Heru Setiyono, S.H.,M.H.,CLA</h3>
                            <h2>Magister Hukum dari Universitas Surabaya Lebih dari 8 tahun</h2>
                            <p>Pidana Khusus Kejahatan Seksualisasi</p>
                        </div>
                      </a>
                    </div>                
                <div class="profile-2">         
                    <a href="../Legalitas/Profil-pangkas3.html" class="profile-link">
                        <div class="profile-card">
                         <!-- <img src="../../public/images/image3.jpg" alt="Avatar" class="avatar"> -->
                          <h3>Dr.(Cand) Ardiansyah S M, S.H.,M.Kn</h3>
                          <h2>Magister Hukum dari Universitas Surabaya Lebih dari 8 tahun</h2>
                          <p>Pidana Khusus Kejahatan Seksualisasi</p>
                        </div>
                      </a>
                      <a href="../Legalitas/Profil-pangkas4.html" class="profile-link">
                        <div class="profile-card">
                         <!-- <img src="../../public/images/image3.jpg" alt="Avatar" class="avatar"> -->
                          <h3>Dr.(Cand) R. Arif Awangga, S.H.,M.H</h3>
                          <h2>Magister Hukum dari Universitas Surabaya Lebih dari 8 tahun</h2>
                          <p>Pidana Khusus Kejahatan Seksualisasi</p>
                        </div>
                      </a>
                    </div>      
                <div class="profile-3">            
                    <a href="../Legalitas/Profil-pangkas5.html" class="profile-link">
                        <div class="profile-card">
                         <!-- <img src="../../public/images/image3.jpg" alt="Avatar" class="avatar"> -->
                          <h3>Dr.(Cand) Wisnu Nugraha, S.H.,M.H</h3>
                          <h2>Magister Hukum dari Universitas Surabaya Lebih dari 8 tahun</h2>
                          <p>Pidana Khusus Kejahatan Seksualisasi</p>
                        </div>
                      </a>
                      <a href="../Legalitas/Profil-pangkas6.html" class="profile-link">
                        <div class="profile-card">
                         <!-- <img src="../../public/images/image3.jpg" alt="Avatar" class="avatar"> -->
                          <h3>Johanis Venny Sulu, S.H.,M.H</h3>
                          <h2>Magister Hukum dari Universitas Surabaya Lebih dari 8 tahun</h2>
                          <p>Pidana Khusus Kejahatan Seksualisasi</p>
                        </div>
                      </a>
                </div>
                <div class="profile-4">            
                    <a href="../Legalitas/Profil-pangkas7.html" class="profile-link">
                        <div class="profile-card">
                         <!-- <img src="../../public/images/image3.jpg" alt="Avatar" class="avatar"> -->
                          <h3>Nurlia Yusrianti, S.H.,M.H</h3>
                          <h2>Magister Hukum dari Universitas Surabaya Lebih dari 8 tahun</h2>
                          <p>Pidana Khusus Kejahatan Seksualisasi</p>
                        </div>
                      </a>
                      <a href="../Legalitas/Profil-pangkas8.html" class="profile-link">
                        <div class="profile-card">
                         <!-- <img src="../../public/images/image3.jpg" alt="Avatar" class="avatar"> -->
                          <h3>Vanny Fadzillah, S.H</h3>
                          <h2>Magister Hukum dari Universitas Surabaya Lebih dari 8 tahun</h2>
                          <p>Pidana Khusus Kejahatan Seksualisasi</p>
                        </div>
                      </a>
                </div>
                <div class="profile-5">            
                    <a href="../Legalitas/Profil-pangkas9.html" class="profile-link">
                        <div class="profile-card">
                         <!-- <img src="../../public/images/image3.jpg" alt="Avatar" class="avatar"> -->
                          <h3>Ade Nabila Putri, S.H</h3>
                          <h2>Magister Hukum dari Universitas Surabaya Lebih dari 8 tahun</h2>
                          <p>Pidana Khusus Kejahatan Seksualisasi</p>
                        </div>
                      </a>
                      <a href="../Legalitas/Profil-pangkas10.html" class="profile-link">
                        <div class="profile-card">
                         <!-- <img src="../../public/images/image3.jpg" alt="Avatar" class="avatar"> -->
                          <h3>Muhamad Fadli Sidik, S.H</h3>
                          <h2>Magister Hukum dari Universitas Surabaya Lebih dari 8 tahun</h2>
                          <p>Pidana Khusus Kejahatan Seksualisasi</p>
                        </div>
                      </a>
                </div>      
    </main>
<!-- footer -->

<footer>
  <div class="footer-section">
      <img src="../../public/images/LOGO 2.png" alt="Logo 1" class="logo">
  </div>
  <div class="footer-section alamat"> <!-- Added class "alamat" -->
      <h2>Alamat</h2>
      <p>Rantai Khatulistiwa Jl. Raden Saleh Raya No.9-B, RT.2/RW.3, Cikini, Kec. Menteng, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10430</p>
     
  </div>
  <div class="footer-section tautan"> <!-- Added class "tautan" -->
    <h2>Tautan</h2>
        <p><a href="../Landing Page/landingpage.html">Beranda</a></p>
        <p><a href="../tentang kami/Tentang kami.html">Tentang Kami</a></p>
        <p><a href="../Jasa Hukum Kami(layanan kami)/Draf dan Analisa Perjanjian.html">Pelayanan</a></p>
        <p><a href="../Hubungi kami/HubungiKami.html">Hubungi Kami</a></p>
  </div>
  <div class="footer-section hubungi-kami"> <!-- Added class "hubungi-kami" -->
      <h2>Hubungi Kami</h2>
      <p><img src="../../public/images/email.png" alt="Email" class="hubungi-kami-icon">Email: <a href="mailto:rantaikhatulistiwa@gmail.com">rantaikhatulistiwa@gmail.com</a></p>
       <!-- Underline under email -->
      <p>
            <img src="../../public/images/telephone-handle-silhouette.png" alt="Phone" class="hubungi-kami-icon">
            Phone: <a href="https://wa.me/6281218028526" target="_blank" style="text-decoration: none; color: inherit;">(+62)812-1802-8526</a>
        </p>
      <div class="footer-underline-short"></div>
      <h2>Media Sosial</h2>
      <div class="social-media">
          <a href="https://www.facebook.com/profile.php?id=61563330248589" target="_blank">
                <img src="../../public/images/facebook.png" alt="facebook" class="social-icon">
            </a>        
            <a href="https://www.instagram.com/lawfirm.rk?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                <img src="../../public/images/instagram.png" alt="instagram" class="social-icon">
            </a>  
            <a href="https://www.linkedin.com/in/firma-rantai-khatulistiwa-5a58892a7" target="_blank">
                <img src="../../public/images/linkedin.png" alt="LinkedIn" class="social-icon">
            </a>
      </div>
  </div>
  <div class="footer-underline"></div> <!-- Underline across the entire footer -->
  <div class="logos">
      <img src="../../public/images/Peradi.png" alt="Logo 3" class="peradi"> <!-- Added class "peradi" -->
      <img src="../../public/images/LOGO-DPP-FERARI-FIX-removebg-preview.png" alt="Logo 4">
      <img src="../../public/images/Logo-KAI-PNG-White.png" alt="Logo 5">
  </div>
 </footer>
</div>

</body>
</html>
