<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/Profil-pangkas.css">
    <title>Penanganan Kasus Hukum</title>
    <style>
        /* Include the CSS code here */
    </style>
</head>
<body>
    <div class="container">
       <!-- header -->
       <header>
        <div class="container">
            <div class="logo">
                <a href="../Landing Page/landingpage.html">
                <img src="../../public/images/LOGORK.png" alt="Logo Rantai Khatulistiwa">
            </a>
            </div>
            <nav>
                               <ul>
                    <li><a href="../Landing Page/landingpage.html">Beranda</a></li>
                    <li><a href="../Bidang/bidang.html">Bidang</a></li>
                    <li><a href="../Legalitas/KumpulanProfil.html">Legalitas</a></li>
                    <li><a href="../administrator/Administrator.html">Administrator</a></li>
                    <li><a href="../galeri/Galeri.html">Galeri</a></li>
                    <li><a href="../properti/landingproperty.html">Properti</a></li>
                    <li><a href="../Hubungi kami/HubungiKami.html">Hubungi Kami</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- main -->
    <main>
        <div class="profile-header">
            <a href="../Legalitas/KumpulanProfil.html" class="back-button"><img src="../../public/images/back1.png" alt="Email" class="back-button"></a>
            <h1>Pengacara Pidana Umum</h1>
        </div>
        <div class="profile">
            <!-- <div class="profile-image">
                <img src="" alt="Profile Picture">
            </div> -->
            <div class="profile-info">
                <h2>Dr.(Cand) Wisnu Nugraha, S.H.,M.H</h2>
            </div>
        </div>
        <div class="textBawahProfil">
            <p><img src="../../public/images/location.png" alt="Location Icon" class="iconBawahProfil"> Lokasi</p>
            <a>Jakarta</a>
            <p><img src="../../public/images/group.png" alt="Group Icon" class="iconBawahProfil"> Tergabung dalam</p>
            <a>Perhimpunan Advokat Indonesia</a>
        </div>

        <div class="profile-content">
            <h3>Bidang Keahlian dan Spesialisasi</h3>
            <p>Pertanahan dan Properti, Bisnis, Hutang Piutang, Pidana dan Laporan Polisi, Keluarga, dan Kekayaan Intelektual</p>

        </div>
        <div class="button-container">
            <button class="next-button">Selanjutnya</button>
        </div>
    </main>

    <!-- Modal -->
<div id="consultation-modal" class="modal">
    <div class="modal-content">
      <span class="close"><img src="../../public/images/cross.png" class="close" alt=""></span>
      <h3>Pilih Konsultasi</h3>
      <div class="consultation-option">
        <img src="../../public/images/wa.png" alt="WhatsApp">
        <div class="option-info">
          <h4>Konsultasi Via WhatsApp</h4>
          <p>Melalui telepon, dapatkan saran hukum untuk permasalahan dan pertanyaan Anda secara mudah dan efektif.</p>
        </div>
        <input type="radio" name="consultation" value="whatsapp">
      </div>
      <div class="consultation-option">
        <img src="../../public/images/tele.png" alt="Phone">
        <div class="option-info">
          <h4>Konsultasi Via Telepon</h4>
          <p>Komunikasikan permasalahan Anda secara langsung. Anda bisa membawa dokumen terkait untuk dibahas bersama konsultan.</p>
        </div>
        <input type="radio" name="consultation" value="phone">
      </div>
      <div class="button-container">
        <button class="ok-button">OK</button>
      </div>
    </div>
  </div>


    <!-- Footer -->
    <footer>
        <div class="footer-section">
            <img src="../../public/images/LOGO 2.png" alt="Logo 1" class="logo">
        </div>
        <div class="footer-section alamat"> <!-- Added class "alamat" -->
            <h2>Alamat</h2>
            <p>Rantai Khatulistiwa Jl. Raden Saleh Raya No.9-B, RT.2/RW.3, Cikini, Kec. Menteng, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10430</p>
           
        </div>
        <div class="footer-section tautan"> <!-- Added class "tautan" -->
              <h2>Tautan</h2>
        <p><a href="../Landing Page/landingpage.html">Beranda</a></p>
        <p><a href="../tentang kami/Tentang kami.html">Tentang Kami</a></p>
        <p><a href="../Jasa Hukum Kami(layanan kami)/Draf dan Analisa Perjanjian.html">Pelayanan</a></p>
        <p><a href="../Hubungi kami/HubungiKami.html">Hubungi Kami</a></p>
        </div>
        <div class="footer-section hubungi-kami"> <!-- Added class "hubungi-kami" -->
            <h2>Hubungi Kami</h2>
            <p><img src="../../public/images/email.png" alt="Email" class="hubungi-kami-icon">Email: <a href="mailto:rantaikhatulistiwa@gmail.com">rantaikhatulistiwa@gmail.com</a></p>
             <!-- Underline under email -->
            <p>
            <img src="../../public/images/telephone-handle-silhouette.png" alt="Phone" class="hubungi-kami-icon">
            Phone: <a href="https://wa.me/6281218028526" target="_blank" style="text-decoration: none; color: inherit;">(+62)812-1802-8526</a>
        </p>
            <div class="footer-underline-short"></div>
            <h2>Media Sosial</h2>
            <div class="social-media">
                <a href="https://www.facebook.com/profile.php?id=61563330248589" target="_blank">
                <img src="../../public/images/facebook.png" alt="facebook" class="social-icon">
            </a>        
            <a href="https://www.instagram.com/lawfirm.rk?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                <img src="../../public/images/instagram.png" alt="instagram" class="social-icon">
            </a>  
            <a href="https://www.linkedin.com/in/firma-rantai-khatulistiwa-5a58892a7" target="_blank">
                <img src="../../public/images/linkedin.png" alt="LinkedIn" class="social-icon">
            </a>
            </div>
        </div>
        <div class="footer-underline"></div> <!-- Underline across the entire footer -->
        <div class="logos">
            <img src="../../public/images/Peradi.png" alt="Logo 3" class="peradi"> <!-- Added class "peradi" -->
            <img src="../../public/images/LOGO-DPP-FERARI-FIX-removebg-preview.png" alt="Logo 4">
            <img src="../../public/images/Logo-KAI-PNG-White.png" alt="Logo 5">
        </div>
     </footer>
</div>
<script src="../../public/js/Profil-pangkas.js"></script>
</body>
</html>
