<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firma Hukum Rantai Khatulistiwa</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/landingproperty.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="../Landing Page/landingpage.html">
                <img src="../../public/images/LOGORK.png" alt="Logo Rantai Khatulistiwa">
            </a>
            </div>

            <nav>
                <ul>
                    <li><a href="../Landing Page/landingpage.html">Beranda</a></li>
                    <li><a href="../Bidang/bidang.html">Bidang</a></li>
                    <li><a href="../Legalitas/KumpulanProfil.html">Legalitas</a></li>
                    <li><a href="../administrator/Administrator.html">Administrator</a></li>
                    <li><a href="../galeri/Galeri.html">Galeri</a></li>
                    <li><a href="../properti/landingproperty.html">Properti</a></li>
                    <li><a href="../Hubungi kami/HubungiKami.html">Hubungi Kami</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="hero">
                <div class="backgroundStyle" style="background-image: url('../../public/images/flyerproperti2.png');"></div>
            <div class="navigation">
                <button class="nav-btn" data-index="0"></button>
                <button class="nav-btn" data-index="1"></button>
                <button class="nav-btn" data-index="2"></button>
            </div>
        <div class="hero-content">
            <h1>Property Agent</h1>
            <p>Temukan Rumah Impian Yang Anda Inginkan lalal ssafjsjfa</p>
        </div>
    </section>

     <!-- Added section -->
 <section id="about-us">
    <div class="about-us section">
        <img src="../../public/images/shake.jpeg" alt="About Us images" class="about-images">
        <div class="about-text">
            <h2>Tentang Kami</h2>
            <p>Firma Hukum Rantai Khatulistiwa merupakan kantor hukum yang terdiri dari tim profesional muda yang ahli, berpengalaman dan berkomitmen untuk memberikan jasa hukum yang berkualitas di bidang hukum Pidana Umum, Pidana Khusus, Hukum Perdata dan Tata Usaha Negara (TUN), Pertanahan dan Properti.</p>
            <a href="../tentang kami/Tentang kami.html" class="btn">Cari Tahu</a>
        </div>
    </div>

    <div class="about-us section">
        <div class="about-text">
            <h2>Pencapaian Kami</h2>
            <p>Sebagai firma hukum terkemuka, Rantai Khatulistiwa telah meraih pencapaian berkat kerja keras, kemampuan, dan pelayanan yang baik. Kami telah memenangkan beberapa penghargaan dengan kategori terbaik dalam berbagai bidang hukum.</p>
            <a href="../tentang kami/Tentang kami.html" class="btn">Cari Tahu</a>
        </div>
        <img src="../../public/images/shake.jpeg" alt="Our Achievement images" class="about-images">
    </div>
</section>
  

    <section id="property-listings" class="property-listings">
        <div class="container">
            <a href="../properti/Properti.html" class="card"> 
                <img src="../../public/images/rumah2_resized.jpeg" alt="House">
                <div class="overlay">House</div>
            </a>
            <a href="../properti/Properti.html" class="card">
                <img src="../../public/images/apartment_resized.jpeg" alt="Apartment">
                <div class="overlay">Apartment</div>
            </a>
            <a href="../properti/Properti.html" class="card">
                <img src="../../public/images/office_resized.jpeg" alt="Office">
                <div class="overlay">Office</div>
            </a>
        </div>
    </section>
    

    <section id="property-listings1" class="property-listings1">
        <div class="container">
            <a href="../properti/Properti.html" class="card">
                <img src="../../public/images/commercial_resized.jpg" alt="Shopping Mall">
                <div class="overlay">Commercial</div>
            </a>
            <a href="../properti/Properti.html" class="card">
                <img src="../../public/images/land_resized.jpeg" alt="Land">
                <div class="overlay">Land</div>
            </a>
            <a href="../properti/Properti.html" class="card">
                <img src="../../public/images/shophouse.jpg" alt="Shop House">
                <div class="overlay">Shop House</div>
            </a>
        </div>
    </section>
    <footer>
        <div class="footer-section">
            <img src="../../public/images/LOGO 2.png" alt="Logo 1" class="logo">
        </div>
        <div class="footer-section alamat"> <!-- Added class "alamat" -->
            <h2>Alamat</h2>
            <p>Rantai Khatulistiwa Jl. Raden Saleh Raya No.9-B, RT.2/RW.3, Cikini, Kec. Menteng, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10430</p>
           
        </div>
        <div class="footer-section tautan"> <!-- Added class "tautan" -->
            <h2>Tautan</h2>
            <p><a href="../Landing Page/landingpage.html">Beranda</a></p>
            <p><a href="../tentang kami/Tentang kami.html">Tentang Kami</a></p>
            <p><a href="../Jasa Hukum Kami(layanan kami)/Draf dan Analisa Perjanjian.html">Pelayanan</a></p>
            <p><a href="../Hubungi kami/HubungiKami.html">Hubungi Kami</a></p>
        </div>
        <div class="footer-section hubungi-kami"> <!-- Added class "hubungi-kami" -->
            <h2>Hubungi Kami</h2>
            <p><img src="../../public/images/email.png" alt="Email" class="hubungi-kami-icon">Email: <a href="mailto:rantaikhatulistiwa@gmail.com">rantaikhatulistiwa@gmail.com</a></p>
             <!-- Underline under email -->
            <p>
            <img src="../../public/images/telephone-handle-silhouette.png" alt="Phone" class="hubungi-kami-icon">
            Phone: <a href="https://wa.me/6281218028526" target="_blank" style="text-decoration: none; color: inherit;">(+62)812-1802-8526</a>
        </p>
            <div class="footer-underline-short"></div>
            <h2>Media Sosial</h2>
            <div class="social-media">
                <a href="https://www.facebook.com/profile.php?id=61563330248589" target="_blank">
                <img src="../../public/images/facebook.png" alt="facebook" class="social-icon">
            </a>        
            <a href="https://www.instagram.com/lawfirm.rk?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                <img src="../../public/images/instagram.png" alt="instagram" class="social-icon">
            </a>  
            <a href="https://www.linkedin.com/in/firma-rantai-khatulistiwa-5a58892a7" target="_blank">
                <img src="../../public/images/linkedin.png" alt="LinkedIn" class="social-icon">
            </a>
            </div>
        </div>
        <div class="footer-underline"></div> <!-- Underline across the entire footer -->
        <div class="logos">
            <img src="../../public/images/Peradi.png" alt="Logo 3" class="peradi"> <!-- Added class "peradi" -->
            <img src="../../public/images/LOGO-DPP-FERARI-FIX-removebg-preview.png" alt="Logo 4">
            <img src="../../public/images/Logo-KAI-PNG-White.png" alt="Logo 5">
        </div>
     </footer>

    <script src="../../public/js/landingpage.js"></script>
</body>
</html>
</body>
</html>
